@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}


/* HEADER */

.header {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navbar .logo img {
    width: 90px;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

nav ul li a {
    color: rgb(59, 37, 37);
    font-weight: 600px;
}

nav {
    margin-right: 35%;
}

.icon ion-icon {
    font-size: 25px;
}


/* ROW */

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
}

.container .box {
    width: 500px;
    height: 500px;
    margin-top: -60px;
    position: relative;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
}

.container .box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-2 h1 {
    font-size: 3rem;
    color: rgb(112, 39, 39);
}

.col-2 span {
    font-size: 6rem;
    margin-left: 80px !important;
    line-height: 60px;
    margin: 20px 0;
}

.col-2 p {
    margin: 15px 0;
    font-weight: 500;
}

.btn {
    display: inline-block;
    color: white;
    background-color: rgb(168, 97, 68);
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 60%;
}